{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cotizacion {{header.number}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <style>
      @media print {
        @page {
          size: 57mm;
          margin: 0;
        }
      }
    </style>
    <script language="javascript">
      document.onload = window.print();
    </script>
  </head>
  <body class="bg-gray-200 print:bg-white">
    <div
      class="bg-white border rounded-lg shadow-lg print:shadow-none px-6 py-8 max-w-md mx-auto mt-8"
    >
      <div class="flex flex-col justify-items-center">
        <img
          src="{{ company.logo.url }}"
          alt="{{ company.name }}"
          width="80%"
          height="50px"
          class="mx-auto"
        />
        {% comment %}
        <h1 class="font-bold text-2xl mt-4 text-center text-gray-700">
          {{company.name|upper}}
        </h1>
        <p class="font-semibold text-center text-gray-700">
          {{company.document_type.name|upper}} {{company.document_id}}
        </p>
        <p class="font-semibold text-center text-gray-700">
          {{company.format_phone}}
        </p>
        <p class="text-center text-gray-700 mb-4">{{company.email}}</p>
        {% endcomment %}
      </div>
      <hr class="mb-2" />
      <div class="flex justify-between mb-4">
        <h1 class="text-gray-700 text-lg font-bold uppercase">Cotización</h1>
        <div class="text-gray-700">
          <div>
            <span class="font-semibold">Fecha:</span>
            {{header.date_created|date:"d-m-Y h:i:s a"}}
          </div>
          <div>
            <span class="font-semibold">Cotización No.:</span> {{header.number}}
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="text-gray-700 font-bold mb-2 capitalize">Cliente:</div>
        <div class="text-gray-700">{{header.customer.name|upper}}</div>
        <div class="flex space-x-4 text-gray-700 capitalize">
          {{header.customer.document_type.name}}:
          {{header.customer.document_id}}
        </div>
        <div class="flex space-x-4 text-gray-700 capitalize mb-4">
          {{header.customer.format_phone}}
        </div>
        <div class="text-gray-700 font-bold mb-2 capitalize">vendedor:</div>
        <div class="text-gray-700">
          {{header.user_created.first_name|upper}}
          {{header.user_created.last_name|upper}}
        </div>
        <div class="text-gray-700 capitalize">
          venta: {{header.sales_type.name|upper}}
        </div>
      </div>
      <h1 class="text-center text-2xl font-bold text-gray-700 capitalize mb-1">
        Detalle
      </h1>
      <hr class="mb-2" />
      <table class="w-full mb-2">
        <thead>
          <tr>
            <th class="text-left font-bold text-gray-700">Descripcion</th>
            <th class="text-center font-bold text-gray-700">Cant.</th>
            <th class="text-right font-bold text-gray-700">Monto</th>
          </tr>
        </thead>
        <tbody>
          {% for detail in details %}
          <tr>
            <td class="text-left text-gray-700">{{detail.item.name}}</td>
            <td class="text-center text-gray-700">{{detail.quantity}}</td>
            <td class="text-right text-gray-700">
              {{detail.calculate_amount}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td class="text-left font-bold text-gray-700">Total items</td>
            <td class="text-center font-bold text-gray-700">
              {{header.calculate_total_quantity}}
            </td>
          </tr>
        </tfoot>
      </table>
      <hr class="mb-6" />
      <div>
        <div class="flex justify-between mb-3">
          <div class="font-semibold">Subtotal:</div>
          <div>{{header.calculate_subtotal}}</div>
        </div>
        <div class="flex justify-between mb-3">
          <div class="font-semibold">Descuento:</div>
          <div>{{header.calculate_total_discount}}</div>
        </div>
        <div class="flex justify-between">
          <div class="font-semibold">Impuesto:</div>
          <div>{{header.calculate_total_tax}}</div>
        </div>
        <hr class="my-3 w-full" />
        <div class="flex justify-between mb-3">
          <div class="font-semibold">Total:</div>
          <div class="font-bold text-lg">{{header.calculate_total_amount}}</div>
        </div>
        <hr class="my-3 w-full" />
      </div>
      {% if header.comment %}
      <div class="text-gray-700 mb-2 capitalize">Comentarios:</div>
      <div class="text-gray-700 text-sm">{{header.comment}}</div>
      {% endif %}
    </div>
  </body>
</html>
