@page {
  size: a4;
  margin: 0.2cm;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 40px 0;
}

.header-line-two {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 20px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 20px;
}

.company-info {
  display: flex;
  flex: 1;
  align-items: left;
}

.company-logo {
  display: flex;
  align-items: center;
  max-width: 100px;
  margin-right: 30px;
}

.receipt-info {
  flex: 1;
  text-align: right;
}

.payments {
  flex: 1;
  text-align: right;
}

.customer-info,
.invoice-info,
.comments {
  flex: 1;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
  background-color: #f2f3f8;
}

.td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

.p {
  margin: 0.2rem 0;
  font-size: 16px;
}

.heading-1 {
  margin: 0;
  font-size: 1.5rem;
}

.heading-2 {
  margin: 0;
  font-size: 1rem;
}

.mb {
  margin-bottom: 0.5rem;
}

.border-bottom {
  border-bottom: 1px;
  border-color: gray;
  border-bottom-style: solid;
}
