{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script language="javascript"/>
        document.onload = window.print();
    </script>
    <title>Factura {{header.number}}</title>
    {% tailwind_css %}
   <style>
      @page {
        size: 60mm;
        margin: 0;
      }
    </style>
  </head>
  <body class="bg-gray-200">
    <div class="bg-white border rounded-lg shadow-lg px-6 py-8 max-w-md mx-auto mt-8">
    <div class="flex flex-col justify-items-center">
        <img
          src="{{ company.logo.url }}"
          alt="{{ company.name }}"
          width="80%"
          height="50px"
          class="mx-auto"
        />
       
      </div>
    <hr class="mb-2">
    <div class="flex justify-between mb-6">
        <h1 class="text-gray-700 text-lg font-bold uppercase">Recibo de pago</h1>
        <div class="text-gray-700">
          <div>
            <span class="font-semibold">Fecha:</span>
            {{header.date_created|date:"d-m-Y h:i:s a"}}
          </div>
          <div>
            <span class="font-semibold">Pago No.:</span> {{header.id}}
          </div>
        </div>
    </div>
     <div class="mb-4">
        <div class="text-gray-700 font-bold mb-2 capitalize">Cliente:</div>
        <div class="text-gray-700">{{header.invoice.customer.name|upper}}</div>
        <div class="flex space-x-4 text-gray-700 capitalize">
          {{header.invoice.customer.document_type.name}}:
          {{header.invoice.customer.document_id}}
        </div>
        <div class="flex space-x-4 text-gray-700 capitalize mb-4">
          {{header.invoice.customer.format_phone}}
        </div>
        <div class="text-gray-700 font-bold mb-2 capitalize">vendedor:</div>
        <div class="text-gray-700">
          {{header.user_created.first_name|upper}}
          {{header.user_created.last_name|upper}}
        </div>
      </div>
    <h1 class="text-center text-2xl font-bold text-gray-700 capitalize mb-1">
        Concepto
      </h1>
      <hr class="mb-2" />
    <table class="w-full mb-8">
        <thead>
            <tr>
                <th class="text-left font-bold text-gray-700">Descripcion</th>
                <th class="text-right font-bold text-gray-700">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left text-gray-700">
                    <p>Pago Factura No. {{header.invoice.number}}</p>
                    <p>Fecha: {{header.invoice.date_created|date:"d-m-Y h:i:s a"}}</p>
                    <p>Venta: {{header.invoice.sales_type.name}}</p>
                </td>
                <td class="text-right text-gray-700">{{header.formatCurrencyPayment}}</td>
            </tr>
            
        </tbody>
    </table>
    <hr class="my-3 w-full" />
     <div class="flex justify-between mb-3">
          <div class="font-semibold">Total:</div>
          <div class="font-bold text-lg">{{header.payment_method.name|upper}}: {{header.formatCurrencyPayment}}</div>
        </div>
        <hr class="my-3 w-full" />
</div>
  </body>
</html>
